.task {
    width: 100%;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
}

.task p {
    font-size: .875rem;
    line-height: 1.18rem;
    color: var(--gray-100);
    margin-right: auto;
}

.checkContainer {
    width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.checkContainer div:hover {
    box-shadow: 0px 0px 8px var(--blue-dark);
}

.checkContainer div {
    min-width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--blue);
    border-radius: 50%;
    transition: box-shadow .1s ease-in-out;
}

.checkContainer div.isCompleted {
    border-color: var(--purple);
    background: url(../assets/Checked.png) no-repeat center center var(--purple);
}

.checkContainer div.isCompleted:hover {
    box-shadow: 0px 0px 8px var(--purple);
}

.task p.textCompleted {
    opacity: .4;
    text-decoration: line-through;
}
.task .deleteButton {
    background: none;
    border: none;
    color: var(--gray-300);
    transition: color .2s ease-in-out, filter .2s ease-in-out;
}

.task .deleteButton:hover {
    color: var(--danger);
    filter: drop-shadow(0px 0px 4px var(--danger));
    ;
}