.tasksWrapper {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.noTasks {
    width: 100%;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.taskIcon {
    display: flex;
    justify-content: center;
}

.noTasks strong {
    margin-top: 1rem;
    line-height: 1.6;
}

.tasksWrapper .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;

    background-color: var(--gray-500);
    border:1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1rem;
}


.task input {
    appearance: none;
    border: 2px solid var(--blue);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    min-width: 1rem;
    position: relative;
    cursor: pointer;
}

.task input[checked="true"] {
    border-color: var(--purple);
    background: url(../assets/Checked.png) no-repeat center center var(--purple);
}

.task .deleteButton {
    background: none;
    border: none;
    color: var(--gray-300);
}